.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.book-list{
  display: flex;
  font-display: column;
  align-items: center;
  justify-content: center;
}
.book-item{
  margin: auto;
  width: 30%;
}
.container{
  max-width: 1200px;
  width: 100%;
  margin: auto;
}
.content {
  margin: 3rem auto;
}

.content ul{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style: none;
  gap: 2rem;
}

.user-card {
  width: 300px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: all 0.3s ease;

}

.user-card img{
  width: 100%;
  object-fit: cover;
  object-position: center;
}
